resources/travelcompany/our-directions.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="city">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="population" type="xs:int"/>
                <xs:element name="isCapital" type="xs:boolean"/>
                <xs:element name="climate" type="xs:string"/>
                <xs:element name="numOfSights" type="xs:int"/>
                <xs:element name="numOfBeaches" type="xs:int"/>
                <xs:element name="numOfSkiResorts" type="xs:int"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="country">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="language" type="xs:string"/>
                <xs:element name="cities">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="city" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="our-directions">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="countries">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="country" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>